  <link href="https://www.principalcdn.com/css/horizon/v2/horizon.min.css" rel="stylesheet">
   <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-principal-brand" href="#">
            </a>
          </div>
          <p class="navbar-text"><strong>Signed in as Viren Sihag</strong></p>
          <div style="float: right;">
            <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" aria-label="Search" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
        </div>
      </div>
      </nav>
         
     




<div class="row row-md-flex" >
  <div class="col-xs-12 col-md-3 tout">
    <a href="#">
    
    </a>
  </div>
  <div class="col-xs-12 col-md-3 tout">
    <a href="#">
    <div class="tout-icon">
      <img src="http://ux.pilot.principal.com/images/tout-icon-check-v2.png" alt="tout-icon" class="img-responsive" />
    </div>
    <div class="tout-content">
      <div class="tout-header">
        <h2>Rollover</h2>
      </div>
    </div>
    </a>
  </div>
  <div class="col-xs-12 col-md-3 tout">
    <a href="#">
    <div class="tout-icon">
      <img src="http://ux.pilot.principal.com/images/tout-icon-globe-v2.png" alt="tout-icon" class="img-responsive" />
    </div>
    <div class="tout-content">
      <div class="tout-header">
        <h2>Rollover</h2>
      </div>
    </div>
    </a>
  </div>
  <div class="col-xs-12 col-md-3 tout">
    <a href="#">
    <div class="tout-icon">
      <img src="http://ux.pilot.principal.com/images/tout-icon-shield-v2.png" alt="tout-icon" class="img-responsive" />
    </div>
    <div class="tout-content">
      <div class="tout-header">
        <h2>Rollover</h2>
      </div>
    </div>
    </a>
  </div>
</div>







<div class="container" style="float: left;position: absolute;top: 100px;">
  <div class="avatar-flip">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAuCAAAAJGRlNGY2OWZhLTNmOTMtNDJlNC04MGVjLTA0YTg1YzVhMjdjYw.jpg" height="150" width="150">
    <img src="http://i1112.photobucket.com/albums/k497/animalsbeingdicks/abd-3-12-2015.gif~original" height="150" width="150">
  </div>
  <h3>Viren sihag</h3>
  <h4>PGS LIfe IT</h4>
  <p>Jai Sri Krishna</p>
 
</div>







<div class="row" style="margin-top: 20px;">

    <div class="col-md-6 col-md-offset-4">

        <div class="media media-box">
            <form role="form">
      <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Lets Appreciate Viren"></textarea>
    </div>
      <div class="form-group">
        <label for="exampleInputFile">Certificate input</label>
        <input type="file" id="exampleInputFile">

      </div>
    <button type="submit" class="btn btn-primary" style="position: absolute;top: 90px;right:20px; ">Submit</button>
    </form>
            <hr>
        </div>





        <div class="media media-box" style="margin-top: 50px;">

          <div style="font-weight: bold;">Viren Sihag</div><div style="float: right;">2nd October 2017</div>
            <img src="https://i.pinimg.com/originals/a9/85/ff/a985ff0bd634c47770651eb26f69c2d9.jpg" alt="" class="media-box-object" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);" />
            <div class="media-box-body">
                <h2 class="media-box-heading">A cool story</h2>
            </div>
            <hr>
        </div>





           <div class="media media-box">
           <div class="testimonial testimonial-inverse testimonial-no-img">
  
    <div class="row">
      <div class="col-xs-12">
        <div class="testimonial-quote-wrapper">
          <div class="testimonial-quote">
            <p class="testimonial-quote-text">
              Is an effective team player who adds complementary skills and contributes valuable ideas, opinions and feedback. Communicates in an open and candid manner and can be counted upon to fulfill any commitments made to others on the team. This is distinctly different from those who withhold ideas and opinions, offer ideas or opinions that rarely add value to team discussions, have established a track record with many unmet commitments, and/or have not contributed skills that complement the skills of others on the team.
            </p>
            <p class="testimonial-quote-name">Sarah Lakos</p>
            <p class="testimonial-quote-title">System Administrator</p>
            <p class="testimonial-quote-location">Des Moines, IA</p>
          </div>
        </div>
      </div>
    </div>
  
</div>
            <hr>
        </div>
         <div class="media media-box">
            <img src="https://i.pinimg.com/736x/52/bc/8b/52bc8beada4f84afc1964e3e7b539616--jennifer-laurence-jennifer-oneill.jpg" alt="" class="media-box-object" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);" />
            <div class="media-box-body">
                <h2 class="media-box-heading">A cool story</h2>
            </div>
            <hr>
        </div>
         <div class="media media-box">
            <img src="http://www.bollygama.com/wp-content/uploads/2015/09/Kangna-Ranaut.jpg" alt="" class="media-box-object" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);"/>
            <div class="media-box-body">
                <h2 class="media-box-heading">A cool story</h2>
            </div>
            <hr>
        </div>

        <div class="media media-box">
            <img src="https://i.pinimg.com/736x/93/f1/a2/93f1a2a1770c29a69bd2b39531f91dce--bollywood-gossip-bollywood-photos.jpg" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);" alt="" class="media-box-object /">
            <div class="media-box-body">
                <h2 class="media-box-heading">A cool story</h2>
            </div>
            <hr>
        </div>
    </div>
</div>


<footer class="footer">
    <section class="footer-row">
        <nav>
            <ul class="nav nav-inline">
                <li><a href="https://www.principal.com/terms-of-use">Terms of Use</a></li>
                <li><a href="https://www.principal.com/products-services-disclosures">Disclosures</a></li>
                <li><a href="https://www.principal.com/privacy-policies">Privacy</a></li>
                <li><a href="https://www.principal.com/security-policies">Security</a></li>
                <li><a href="https://www.principal.com/about-us/our-company/policies/report-fraud-or-unethical-conduct">Report Fraud</a></li>
                <li><a href="#placeholder">Site Map</a></li>
            </ul>
        </nav>
        <div class="footer-legal">
            <p>&copy; 2016, Principal Financial Services, Inc.</p>
            <p>Securities offered through Principal Securities, Inc., <a href="http://www.sipc.org">member SIPC</a></p>
        </div>
    </section>
</footer>
 <script src="https://www.principalcdn.com/css/horizon/v2/horizon.min.js"></script>